
@{
    ViewData["Title"] = "Index";
}

<h1>Your cart</h1>

<button type="button" class="=btn btn-primary" onclick="emptyCart()">Empty cart</button>

<script>
    document.write('<pre>');
    for (let i = 0; i < localStorage.length; i++){
        let key = localStorage.key(i);
        let value = JSON.parse(localStorage.getItem(key));
        document.write("Pizza Type: " + value.Type + ", ");
        if (value.CrustID == 1) {
            document.write("Crust Type: Thin Crust, ");
        }
        else if (value.CrustID == 2) {
            document.write("Crust Type: Thick Crust, ");
        }
        else {
            document.write("Crust Type: Stuffed Crust, ");
        }

        if (value.SizeId == 1) {
            document.write("Pizza Size: Small");
        }
        else if (value.SizeId == 2) {
            document.write("Pizza Size: Medium");
        }
        else {
            document.write("Pizza Size: Large");
        }

        if (value.IsCustom == true) {
            document.writeln(" Toppings: " + value.Toppings);
        }
        else {
            document.writeln("");
        }
    }
    function emptyCart() {
        localStorage.clear();
        location.reload();
    }
</script>