
@{
    ViewData["Title"] = "Index";
}

<h1>Your cart</h1>

<button type="button" class="=btn btn-primary" onclick="emptyCart()">Empty cart</button>

<script>
    document.write('<pre>');
    for (let i = 0; i < localStorage.length; i++) {
        let key = localStorage.key(i);
        let value = JSON.parse(localStorage.getItem(key));
       // document.writeln(localStorage.getItem(key));
        document.write("Pizza Type: " + value.type + ", ");
        if (value.crustID == 1) {
            document.write("Crust Type: Thin Crust, ");
        }
        else if (value.crustID == 2) {
            document.write("Crust Type: Thick Crust, ");
        }
        else {
            document.write("Crust Type: Stuffed Crust, ");
        }

        if (value.sizeId == 1) {
            document.writeln("Pizza Size: Small");
        }
        else if (value.sizeId == 2) {
            document.writeln("Pizza Size: Medium");
        }
        else {
            document.writeln("Pizza Size: Large");
        }
    }

    function emptyCart() {
        localStorage.clear();
        location.reload();
    }
</script>