@model Layers.Models.ViewModels.PizzaMenuVM
@using Microsoft.AspNetCore.Identity
@using Layers.Models.Models;
@inject SignInManager<Customer> SignInManager
@inject UserManager<Customer> UserManager

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#flip").click(function () {
            $("#panel").slideToggle("slow");
        });
    });
</script>

<div id="flip">
    Click to see our list of toppings!
    <div id="panel">
        @foreach (var item in Model.Toppings)
        {
            <table>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        $
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                </tr>
            </table>
        }

    </div>
</div>

<div class="container-fluid" id="Pizzas">
    <div class="m-md-4">
        <div class="row">
            <div class="col">
                <div class="card" style="background-color:cornsilk">
                    <div class="card-header" style="background-color:goldenrod"><h5>Pepperoni</h5></div>
                    <div class="card-body">
                        <h2 id="price1" style="color: black"> -- </h2>
                        <img src="~/Images/pepperoni-pizza.png" class="pizzaimg" />
                    </div>
                    <div class=" card-footer" style="background-color:silver">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <button type="submit" class="=btn btn-primary" onclick="addPepperoni()">Add to Cart</button>
                        }
                        else
                        {
                            <button type="submit" class="=btn btn-primary" disabled="true">Add to Cart</button>
                        }
                        <select name="SelectSize" id="pepperoni" onchange="passPizza('price1', this.id)" class="mdb-select md-form">
                            <option value="" disabled selected>Select Your Size</option>
                            <option value="1" style="color:blue">Small</option>
                            <option value="2" style="color:blue">Medium</option>
                            <option value="3" style="color:blue">Large</option>
                        </select>
                        <button type="button" id="Customize">Customize Your Order</button>
                    </div>
                </div>

            </div>
            <div class="col">
                <div class="card" style="background-color:cornsilk">
                    <div class="card-header" style="background-color:goldenrod"><h5>Hawaiian</h5></div>
                    <div class="card-body">
                        <h2 id="price2" style="color: black"> --</h2>
                        <img src="~/Images/hawaiian-pizza.png" class="hawaiian" />
                    </div>
                    <div class=" card-footer" style="background-color:silver">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <button type="submit" class="=btn btn-primary" onclick="addHawaiian()">Add to Cart</button>
                        }
                        else
                        {
                            <button type="submit" class="=btn btn-primary" disabled="true">Add to Cart</button>
                        }
                        <select name="SelectSize" id="hawaiian" onchange="passPizza('price2', this.id)" class="mdb-select md-form">
                            <option value="" disabled selected>Select Your Size</option>
                            <option value="1" style="color:blue">Small</option>
                            <option value="2" style="color:blue">Medium</option>
                            <option value="3" style="color:blue">Large</option>
                        </select>
                        <button type="button">Customize Your Order</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card" style="background-color:cornsilk">
                    <div class="card-header" style="background-color:goldenrod"> <h5>Sausage</h5></div>
                    <div class="card-body">
                        <h2 id="price3" style="color: black"> --</h2>
                        <img src="~/Images/sausage-pizza.png" class="pizzaimg" />
                    </div>
                    <div class=" card-footer" style="background-color:silver">
                        footer
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <button type="submit" class="=btn btn-primary" onclick="addSausage()">Add to Cart</button>
                        }
                        else
                        {
                            <button type="submit" class="=btn btn-primary" disabled="true">Add to Cart</button>
                        }
                        <select name="SelectSize" id="sausage" onchange="passPizza('price3', this.id)" class="mdb-select md-form">
                            <option value="" disabled selected>Select Your Size</option>
                            <option value="1" style="color:blue">Small</option>
                            <option value="2" style="color:blue">Medium</option>
                            <option value="3" style="color:blue">Large</option>
                        </select>
                        <button type="button">Customize Your Order</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>

    var textToChange = $("#price");
    var key = 0;

    function passPizza(pizzaPrice, _id) {
        console.log(pizzaPrice);
        var elems = document.getElementsByName("SelectSize");
        var id = getID(elems, _id);
        console.log(id);
        for (var i = 0; i < elems.length; i++) {
            elems.addEventListener("change", selectPizzaSize(pizzaPrice, id));
        }
    }

    function getID(elems, id) {
        for (var i = 0; i < elems.length; i++) {
            if (elems[i].id == id) {
                return elems[i].id
            }
        }
    }

    function selectPizzaSize(pizzaPrice, _id) {
        var id = document.getElementById(_id).value;
        console.log(id);
        $.ajax({
            contentType: "application/json;charset=utf-8",
            type: "GET",
            url: "https://pizzaordersystem.azurewebsites.net/api/PizzaAPI/" + id,

            success: function (data) {
                console.log("data:", data);
                console.log("Price:", data.price);

                //var json = JSON.parse(data);
                document.getElementById(pizzaPrice).innerHTML = '$' + data.price;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                textToChange.innerHTML = textStatus;
            }
        });
    }

    function addPepperoni() {
        var choice = document.getElementById("pepperoni");
        var valueCopy = choice.value;

        while (localStorage.getItem(key) != null) {
            key++;
        }

        if (valueCopy == "") {
            alert("Please select a size");
        }
        else if (valueCopy == 1) {
            localStorage.setItem(key, "One small pepperoni pizza");
            alert("Added one small pepperoni pizza to your cart.");
        }
        else if (valueCopy == 2) {
            localStorage.setItem(key, "One medium pepperoni pizza");
            alert("Added one medium pepperoni pizza to your cart.");
        }
        else if (valueCopy == 3) {
            localStorage.setItem(key, "One large pepperoni pizza");
            alert("Added one large pepperoni pizza to your cart.");
        }
    }

    function addHawaiian() {
        var choice = document.getElementById("hawaiian");
        var valueCopy = choice.value;

        while (localStorage.getItem(key) != null) {
            key++;
        }

        if (valueCopy == "") {
            alert("Please select a size");
        }
        else if (valueCopy == 1) {
            localStorage.setItem(key, "One small hawaiian pizza");
            alert("Added one small hawaiian pizza to your cart.");
        }
        else if (valueCopy == 2) {
            localStorage.setItem(key, "One medium hawaiian pizza");
            alert("Added one medium hawaiian pizza to your cart.");
        }
        else if (valueCopy == 3) {
            localStorage.setItem(key, "One large hawaiian pizza");
            alert("Added one large hawaiian pizza to your cart.");
        }
    }

    function addSausage() {
        var choice = document.getElementById("sausage");
        var valueCopy = choice.value;

        while (localStorage.getItem(key) != null) {
            key++;
        }

        if (valueCopy == "") {
            alert("Please select a size");
        }
        else if (valueCopy == 1) {
            localStorage.setItem(key, "One small sausage pizza");
            alert("Added one small sausage pizza to your cart.");
        }
        else if (valueCopy == 2) {
            localStorage.setItem(key, "One medium sausage pizza");
            alert("Added one medium sausage pizza to your cart.");
        }
        else if (valueCopy == 3) {
            localStorage.setItem(key, "One large sausage pizza");
            alert("Added one large sausage pizza to your cart.");
        }
    }

        function selectPizzaSize(pizzaPrice, _id) {
            var id = document.getElementById(_id).value;
            console.log("calling ajax");
            var pizzaToppings = getToppings("sausage");
           // console.log(pizzaToppings.length);
            console.log(pizzaToppings);
            $.ajax({
                contentType: "application/json;charset=utf-8",
                type: "GET",
                url: "https://pizzaordersystem.azurewebsites.net/api/PizzaAPI/" + id,
               
                success: function (data) {
                    //console.log("data:", data);
                    //console.log("Price:", data.price);
                   
                    //var json = JSON.parse(data);
                    document.getElementById(pizzaPrice).innerHTML = '$' + data.price;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    textToChange.innerHTML = textStatus;
                  
                }
            });
        }

    function getToppings(pizzaID) {
            //var id = document.getElementById(_id).value;
           // console.log(id);
        var pizzaList ="hoe";
            $.ajax({
                contentType: "application/json;charset=utf-8",
                type: "GET",
                // returns a list of our middle table 
                url: "https://pizzaordersystem.azurewebsites.net/api/PizzaAPI/Toppings/" + pizzaID,


                success: function (data) {
                    console.log("data:", data);
                    console.log("PizzaType:", data.type);
                    
                    pizzaList = data;
                    //var json = JSON.parse(data);
                   // document.getElementById(pizzaPrice).innerHTML = '$' + data.price ;
                },
                
                error: function (jqXHR, textStatus, errorThrown) {
                    textToChange.innerHTML = textStatus;
                    //console.log("no pizza found");
                    pizzaList  = "No pizza found";
                }
                      
            });
                    return pizzaList;
        }

</script>