@model Layers.Models.ViewModels.PizzaMenuVM


<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#flip").click(function () {
                $("#panel").slideToggle("slow");
            });
        });
    </script>
    <script>
        //$(document).ready(function () {
        //    $('.mdb-select').materialSelect();
        //});

        //$(document).ready(function () {
        //    $("#sizedropdown").click(function () {
        //        $("#size").show();
        //    });
        //});

        //$(document).ready(function () {
        //    $("button").on(
        //        {
        //            mouseenter: function () {
        //                $(this).css("background-color", "blue");
        //            }
        //        });
        //});
    </script>


</head>
<body>
    <div id="flip">Click to see our list of toppings!>
    <div id="panel">
        @foreach (var item in Model.Toppings)
        {
            <table>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        $
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                </tr>
            </table>
        }

    </div>
    </div>
    
    <div class="container-fluid" id="Pizzas">
        <div class="m-md-4">
            <div class="row">
                <div class="col">
                    <div class="card" style="background-color:cornsilk">
                        <div class="card-header" style="background-color:goldenrod"><h5>Pepperoni</h5></div>
                        <div class="card-body">
                            <h2 id="price" /> $16.85
                            <img src="~/Images/pepperoni-pizza.png" class="pizzaimg" />
                        </div>
                        <div class=" card-footer" style="background-color:silver">
                            <button onclick="AddToCart()" id="1" value="AddToCart" class="=btn btn-primary">Add to Cart</button>
                            @*<button type="button" id="sizedropdown" class="=btn btn-primary dropdown-toggle" data-toggle="dropdown">Select Size </button>*@
                            <select id="SelectSize" onchange="ChangePrice()"class="mdb-select md-form">
                                <option value="" disabled selected>Select Your Size</option>
                                <option value="1" style="color:blue">Small</option>
                                <option value="2" style="color:blue">Medium</option>
                                <option value="3" style="color:blue">Large</option>
                            </select>
                            @*<div class="dropdown-menu" style="background-color:lightgray">
                                    <a class="dropdown-item" id="size" style="color:blue" href="#">Small</a>
                                    <a class="dropdown-item" id="size" style="color:blue" href="#">Medium</a>
                                    <a class="dropdown-item" id="size" style="color:blue" href="#">Large</a>
                                </div>*@
                            <button type="button" id="Customize">Customize Your Order</button>
                        </div>
                    </div>

                </div>
                <div class="col">
                    <div class="card" style="background-color:cornsilk">
                        <div class="card-header" style="background-color:goldenrod"><h5>Hawaiian</h5></div>
                        <div class="card-body">
                            <h2 id="price" /> $18.95
                            <img src="~/Images/hawaiian-pizza.png" class="hawaiian" />
                        </div>
                        <div class=" card-footer" style="background-color:silver">
                            <button type="button" class="=btn btn-primary">Add to Cart</button>
                            <select id="SelectSize" class="mdb-select md-form">
                                <option value="" disabled selected>Select Your Size</option>
                                <option value="1" style="color:blue">Small</option>
                                <option value="2" style="color:blue">Medium</option>
                                <option value="3" style="color:blue">Large</option>
                            </select>
                            <button type="button">Customize Your Order</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card" style="background-color:cornsilk">
                        <div class="card-header" style="background-color:goldenrod"> <h5>Sausage</h5></div>
                        <div class="card-body">
                            <h2 id="price" /> $12.75
                            <img src="~/Images/sausage-pizza.png" class="pizzaimg" />
                        </div>
                        <div class=" card-footer" style="background-color:silver">
                            footer
                            <button type="button" class="=btn btn-primary">Add to Cart</button>
                            <select id="SelectSize" onchange="ChangePrice()" class="mdb-select md-form">
                                <option value="" disabled selected>Select Your Size</option>
                                <option value="1" style="color:blue">Small</option>
                                <option value="2" style="color:blue">Medium</option>
                                <option value="3" style="color:blue">Large</option>
                            </select>
                            <button type="button">Customize Your Order</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
         var psize = document.getElementById("SelectSize");
        var id = psize.value;
        console.log(id);
        var textToChange = $("#price");
       // $("#textToChange").empty();
        function ChangePrice() {

            $.ajax({
                contentType: "application/json;charset=utf-8",
                type: "GET",
                url: "http://localhost:51600/api/PizzaAPI/GetSizes/" + id,
               
             
                success: function (data) {
                    $("#textToChange").innerHTML = data.Price;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    textToChange.innerHTML = textStatus;
                }
            });
        };
            

           @*var list = document.getElementById("SelectSize").getElementsByTagName('option');

        for (var i=0; i<list.length; i++) {
        list[i].addEventListener('click', getSize(), false);
        }

         function getSize() {
             var price = document.getElementsByTagName("h2");
             price = @Model.Size.FirstOrDefault(x => x.Id == 1).Price;
    }
        document.getElementsById("price").innerHTML = 100;*@
        

    </script>
</body>

