@using Microsoft.AspNetCore.Identity
@using Layers.Models.Models
@inject SignInManager<Customer> SignInManager
@inject UserManager<Customer> UserManager

@{
    ViewData["Title"] = "Index";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    var numOfPizzas = sessionStorage.length;
    document.getElementById("cart").innerHTML = numOfPizzas;
</script>

<h1>Customize your pizza</h1>

<p>Choose your pizza size.</p>
<div class="nav">
    <h2 id="dollarSign" style="color: black"> $</h2>
    <h2 id="price1" style="color: black"> 0</h2>
</div>
<select name="SelectSize" id="size" onchange="updatePrice()" class="mdb-select md-form">
    <option value="" disabled selected>Select Your Size</option>
    <option value="1" style="color:blue">Small</option>
    <option value="2" style="color:blue">Medium</option>
    <option value="3" style="color:blue">Large</option>
</select>
<br />
<p>Choose your pizza crust.</p>
<select name="SelectCrust" id="crust" class="mdb-select md-form" onchange="updatePrice()">
    <option value="" disabled selected>Select Your Crust</option>
    <option value="1" style="color:blue">Thin Crust</option>
    <option value="2" style="color:blue">Thick Crust</option>
    <option value="3" style="color:blue">Stuffed Crust</option>
</select>
<br />
<p>Choose your pizza toppings.</p>
<input type="checkbox" name="toppings" value="1" onchange="updatePrice()" />Pepperoni
<br />
<input type="checkbox" name="toppings" value="2" onchange="updatePrice()" />Sausage
<br />
<input type="checkbox" name="toppings" value="3" onchange="updatePrice()" />Pineapple
<br />
<input type="checkbox" name="toppings" value="4" onchange="updatePrice()" />Green Peppers
<br />
<input type="checkbox" name="toppings" value="5" onchange="updatePrice()" />Red Peppers
<br />
<input type="checkbox" name="toppings" value="6" onchange="updatePrice()" />Ham
<br />
<input type="checkbox" name="toppings" value="7" onchange="updatePrice()" />Onions
<br />
<input type="checkbox" name="toppings" value="8" onchange="updatePrice()" />Mushrooms
<br />
<input type="checkbox" name="toppings" value="9" onchange="updatePrice()" />Black Olives
<br />
<input type="checkbox" name="toppings" value="10" onchange="updatePrice()" />Chicken
<br />
<input type="checkbox" name="toppings" value="11" onchange="updatePrice()" />Buffalo Chicken
<br />
<input type="checkbox" name="toppings" value="12" onchange="updatePrice()" />Broccoli
<br />
<input type="checkbox" name="toppings" value="13" onchange="updatePrice()" />Tomatoes
<br />
<input type="checkbox" name="toppings" value="14" onchange="updatePrice()" />Spinach
<br />
<input type="checkbox" name="toppings" value="15" onchange="updatePrice()" />Bacon
<br />
<input type="checkbox" name="toppings" value="16" onchange="updatePrice()" />Meatballs
<br />



@if (SignInManager.IsSignedIn(User))
{
    <button type="submit" class="=btn btn-primary" onclick="AddToCart()">Add to Cart</button>
}
else
{
    <button type="submit" class="=btn btn-primary" disabled="true">Add to Cart</button>
}

<script>
    var count = sessionStorage.length;
    document.getElementById("cart").innerHTML = count;

    var currentId = 0;
    var priceArray = [0, 1.75, 2, 1.25, 1, 1, 1.4, 0.75, 1.5, 1.1, 2, 2.25, 1.3, 1.75, 2.25, 2.5, 2.5];


    function passPizza(pizzaPrice, _id) {
        console.log(pizzaPrice);
        var elems = document.getElementsByName("SelectSize");
        var id = getID(elems, _id);
        console.log(id);
        for (var i = 0; i < elems.length; i++) {
            elems.addEventListener("change", selectPizzaSize(pizzaPrice, id));
        }
    }

    function updatePrice()
    {

        var sizeID = document.getElementById('size').value;
        var parseSizeID = parseInt(sizeID);
        var crustID = document.getElementById('crust').value;
        var parseCrustID = parseInt(crustID);
        var newPrice = 0;
        var checkBoxValues = [];
        $.each($("input[name=toppings]:checked"), function(){
            (checkBoxValues).push($(this).val());
        });

        if (parseSizeID == 1) {
            newPrice = newPrice + 8.25
        }
        else if (parseSizeID == 2) {
            newPrice = newPrice + 14.25
        }
        else if (parseSizeID == 3) {
            newPrice = newPrice + 18.75
        }

        if (parseCrustID == 1) {
            newPrice = newPrice + 1.50
        }
        else if (parseCrustID == 2) {
            newPrice = newPrice + 2
        }
        else if (parseCrustID == 3) {
            newPrice = newPrice + 3
        }

        checkBoxValues.forEach(element => {
            newPrice = newPrice + priceArray[element];
        });

        document.getElementById('price1').innerHTML = parseFloat(Math.round(num1 * 100) / 100).toFixed(2);;
    }



    function AddToCart() {
        var pizza = "size";
        var crustID = "crust";
        var toppingsID = "toppings";
        var checkBoxValues = [];
        $.each($("input[name=" + toppingsID + "]:checked"), function () {
            (checkBoxValues).push($(this).val());
        });

        var listOfToppings = [];
        for (var i = 0; i < checkBoxValues.length; i++) {
            var toInt = parseInt(checkBoxValues[i]);
            listOfToppings.push(toInt);

        }

        //console.log("Toppings List:" + listOfToppings.length);
        //console.log("First Topping:" + checkBoxValues[0]);
        //checkBoxValues.forEach(function (toppings) {
        //    console.log(toppings)
        //});
        //passing name field in checkbox
        //var toppings = document.getElementsByName(toppingsID);
        ////toppings.forEach(function (topping) {
        ////console.log(topping.value);
        ////});

        var sizeID = document.getElementById(pizza).value;
        var parseSizeID = parseInt(sizeID);
        var crustID = document.getElementById(crustID).value;
        var parseCrustID = parseInt(crustID);


        //document.getElementById("sizeId").value = id;

        //toppingIDs: checkBoxValues,

        var modelVM =
        {
            type: "custom",
            crustID: parseCrustID,
            sizeId: parseSizeID,
            toppingByID: listOfToppings
        };
        var stringify = JSON.stringify(modelVM);
        console.log("stringify output:" + stringify);

        $.ajax({
            contentType: "application/json;charset=utf-8",
            type: "POST",
            // returns a list of our middle table
            url: "https://pizzaordersystem.azurewebsites.net/api/PizzaAPI/AddToCart", // had to add Route to Post. Also DO NOT include slash at end of url if it isn't receiving any parameters
            data: JSON.stringify(modelVM),

            success: function (data) {
                console.log("Success!");
                console.log("Type:" + data.type);
                console.log("Crust ID:" + data.crustID);
                console.log("Size ID" + data.sizeId);
                console.log("ID" + data.id);
                data.toppingByID.forEach(function (topping) {
                    console.log("Toppings:" + topping)
                });
                //var storePizza = Object.assign(data, localStorage);

                var num3 = sessionStorage.length + 1;

                sessionStorage.setItem(num3, JSON.stringify(data));
                var length = sessionStorage.length;
                document.getElementById("cart").innerHTML = length;
                alert("Pizza added to cart.");

                count++;
                document.getElementById("cart").innerHTML = count;

                //increment number next to shopping cart by 1
                //add correct pizza to a list....maybe using localStorage?

            },
            error: function (jqXHR, textStatus, errorThrown) {
                return "hello";
            }
        });

    }
</script>